/* Modern Interios Theme Version: 1.0 */
/*-----------------------------*/
/*Responsive*/
/*Style.css*/

@media only screen and (min-width: 960px) and (max-width: 1199px) {	
}

@media only screen and (min-width: 766px) and (max-width: 959px) {
	.list-of-images { 
		margin-left:-20px!important;
	}
	.list-of-images .gallery_item { 
		margin-left:20px!important;
		max-width:340px!important;
		margin-bottom:20px!important;
	}
	.list-of-images .gallery_item {
		max-width:340px!important;
	}
	.left-sidebar .list-of-images,
	.right-sidebar .list-of-images { 
		margin-left:-14px!important;
	}
	.left-sidebar .list-of-images .gallery_item,
	.right-sidebar .list-of-images .gallery_item { 
		margin-left:14px!important;
		max-width:250px!important;
		margin-bottom:14px!important;
	}
	.left-sidebar .list-of-images .gallery_item,
	.right-sidebar .list-of-images .gallery_item { 
		max-width:250px!important;
	}
	.price_item {
		width:50%!important;
	}	
	
	.widget_flickr .flickr_badge_image, .widget_flickr .flickr_badge_image a {
		width:80px!important;
		height:80px!important;
	}
	.widget_flickr .flickr_badge_image img,
	.widget_flickr .flickr_badge_image .flickr_wrapper,
	.widget_flickr .flickr_badge_image .wrapped_img { 	
		width:68px!important;
		height:68px!important;
	}
	
	.shortcode_promoblock {
		padding:25px 20px;
	}
	.shortcode_promoblock .promo_text_block {
		width:100%;
		display:block;
	}
	.shortcode_promoblock .promo_text_block,
	.shortcode_promoblock .promo_text_block h1,
	.shortcode_promoblock .promo_text_block h4 {
		text-align:center;	
	}
	.shortcode_promoblock .promo_button_block {
		padding-top:15px;
		width:100%;
		display:block;
		text-align:center;	
	}
	
	.shortcode_tabs.type2 .all_heads_cont {
		width:149px;
	}
	.shortcode_tabs.type2 .all_body_cont {
		width:357px;
	}

	.recent_posts .wrapped_img {
		float:none!important;
		display:block!important;
	}
	.recent_posts .wrapped_img img {
		width:100%;
		height:auto;
	}
	.recent_posts .recent_posts_content {
		width:100%!important;
		float:none!important;
		display:block!important;
	}
	
}
	a.menu_toggler { display:none;
	}
@media only screen and (max-width: 760px) {
	h1, h1 span, h1 a {
		font-size:45px !important;
		line-height:50px !important;
	}
	.pp_content_container iframe {
		width:100%!important;
		height:150px!important;
	}
	.pp_social {
		display:none!important;
	}

	.main_wrapper > nav { 
		display:none!important;
	}
	.main_wrapper {
		position:relative;
		z-index:5;
	}	
	footer .footer_social_content {display:none;
	}
		
	
	
	.module_google_map iframe {
		height:320px!important;
	}
	.price_table_wrapper {
		border:none;
		border-radius:0px;
	}
	.price_item_wrapper {
		border:#dedede 1px solid!important;
		border-radius:5px;
		overflow:hidden;
	}
	.price_item {
		width:100%!important;
		margin-bottom:4px!important;
	}
	
	.right-sidebar-block,
	.left-sidebar-block {
		padding-top:35px;
	}
	
	iframe.alignleft,
	iframe.alignright {
		width:100%;
		display:block;
		float:none!important;
		padding:0!important;
		margin-left:0px!important;
		margin-right:0px!important;
	}
	.module_gallery {
		margin-left:0!important;
	}
	.list-of-images {
		margin-left:0px!important;	
	}
	.module_gallery .gallery_item {
		display:block!important;
		margin-left:0px!important;
		float:none!important;
	}
	.module_gallery .gallery_item img {
		width:100%!important;
		height:auto!important;
	}
	#commentform #reset,
	#commentform #submit {
		padding:0 10px;
	}
	.blog_post_preview .blog_info_block {
		display:none!important;
	}
	.blog_post_page .blog_info_block {
		display:block!important;
	}
	.blog_post_page .blog_info_block div {
		float:none!important;
		display:block!important;
		margin-right:0px!important;
	}
	.shop_list_image img {
		width:100%;
		height:auto;
		display:block;
	}
	
	.shortcode_tab_item_title {
		margin-top:3px;
	}
	.gallery_descr { display:none!important}	

	
	.shortcode_tabs.type2 .all_heads_cont { 
		width:auto;
		float:none;
		display:block;
		text-align:left;
	}

	.shortcode_tabs.type2 .shortcode_tab_item_title { 
		float:left!important;
		display:inline-block!important;
		margin:4px 4px 0 0!important;
		border-top-left-radius:5px!important;
		border-bottom-left-radius:0px!important;
		border-top-right-radius:5px!important;
		border-bottom-right-radius:0px!important;
		border-bottom:none!important;
		border-right:#dedede 1px solid!important;
		text-align:left!important;

	}

	.shortcode_tabs.type2 .shortcode_tab_item_title.active { 
		margin-top:0px!important;
		padding:10px 15px!important;
	}

	.shortcode_tabs.type2 .all_body_cont  {
		float:none;
		display:block;
	}	

	blockquote.right { 
		width:100%!important;
		float:none!important;
		margin-left:0px!important;
	}
	blockquote.left { 
		width:100%!important; 
		margin-right:0px!important;
		float:none!important;
	}		
	
	aside#footer_bar .sidepanel {
		margin-bottom:20px!important;
	}
}

@media only screen and (min-width: 459px) and (max-width: 766px) {

	.featured_slider ul li .carousel_desc:after {
		display:block!important;
	}
	.container {
		width:420px;
		margin:0 auto;
	}
	.content_wrapper {
		width:420px!important;
	}
	.main_wrapper {
		width:100%!important;
		margin:0 auto;
	}
	.user_bg_layout .main_wrapper {
		width:420px!important;
	}
	.mobile_menu_wrapper {
		width:420px;
		margin:0 auto;
	}
	
	.content_wrapper {
		margin:0 auto;
	}

	.widget_flickr .flickr_badge_image, .widget_flickr .flickr_badge_image a {
		width:136px!important;
		height:136px!important;
	}
	.widget_flickr .flickr_badge_image img,
	.widget_flickr .flickr_badge_image .flickr_wrapper,
	.widget_flickr .flickr_badge_image .wrapped_img { 	
		width:124px!important;
		height:124px!important;
	}

	.portfolio_descr_info div:before {
		display:block!important;
	}
	.portfolio_descr_info div {
		display:block!important;
		float:none!important;
	}
	.portfolio_info_wrapper {
	}
	.portfolio_info_wrapper .post_type {
		display:block!important;
	}
	
}

@media only screen and (max-width: 459px) {

	.container {
		width:300px!important;
	}
	.footer_wrapper.container {	width:100% !important;
	}
	header .header_block .logo {
		float:none;
		padding-left:0;
		padding-right:45px;
	}
	a.menu_toggler {
		right:0 !important;
		top:29px;
	}
	
	.main_wrapper {
		position:relative;
		z-index:5;
	}

	.main_wrapper {
		width:100%!important;
		margin:0 auto;
	}
	.user_bg_layout .main_wrapper {
		width:300px!important;
	}
	.mobile_menu_wrapper {
		width:300px;
		margin:0 auto;
	}
	
	.widget_flickr .flickr_badge_image, .widget_flickr .flickr_badge_image a {
		width:96px!important;
		height:96px!important;
	}
	.widget_flickr .flickr_badge_image img,
	.widget_flickr .flickr_badge_image .flickr_wrapper,
	.widget_flickr .flickr_badge_image .wrapped_img { 	
		width:84px!important;
		height:84px!important;
	}	
	
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.main_wrapper nav ul.menu > li > a {
		padding:0 15px;
		font-size:12px;
	}

}

/*portfolio_isotope.css*/
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	.columns1 {
		width:940px!important;
		margin:0;
	}
	.columns1 .element {
		min-height:325px!important;
	}
	/*Widths*/
	.columns2 .portfolio_dscr,
	.columns3 .portfolio_dscr,
	.columns4 .portfolio_dscr {
		padding-left:16px!important;
	}
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 4px;
		width:960px;
		margin-left:-20px!important;
	}
	.columns2 .element {
		width:460px!important; 
		min-height:274px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.shaped_portfolio .columns2 .element {min-height:460px!important;
	}
	.columns2 .element img {display:block;
	}
	.columns3 .element {
		width:300px!important; 
		margin-left:20px;
		margin-bottom:20px;
		min-height:179px!important;
	}
	.shaped_portfolio .columns3 .element {min-height:300px!important;
	}
	.columns4 .element {
		width:220px!important; 
		margin-left:20px;
		margin-bottom:20px;
		min-height:131px!important;
	}	
	.shaped_portfolio .columns4 .element {min-height:220px!important;
	}
	.columns4 .portfolio_btns {display:none;
	}
	
	.columns1 .portfolio_preview_head {
		padding-left:16px!important;
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1 {
		width:700px!important;
	}
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:720px!important;
	}
	
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element {
		width:340px!important;
		min-height:203px !important;
	} 
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element {
		width:220px!important;
		min-height:131px !important;
	}
	.left-sidebar .columns3 .portfolio_btns,
	.right-sidebar .columns3 .portfolio_btns,
	.left-sidebar .columns3 .portfolio_text,
	.right-sidebar .columns3 .portfolio_text {display:none;
	}
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:160px!important;
		min-height:95px !important;
	}
	.left-sidebar .columns4 .portfolio_btns,
	.right-sidebar .columns4 .portfolio_btns,
	.left-sidebar .columns4 .portfolio_text,
	.right-sidebar .columns4 .portfolio_text {display:none;
	}
	
	.left-sidebar .shaped_portfolio .columns2 .element,
	.right-sidebar .shaped_portfolio .columns2 .element {min-height:340px !important;
	} 
	.left-sidebar .shaped_portfolio .columns3 .element,
	.right-sidebar .shaped_portfolio .columns3 .element {min-height:220px !important;
	}
	.left-sidebar .shaped_portfolio .columns4 .element,
	.right-sidebar .shaped_portfolio .columns4 .element {min-height:160px !important;
	}
			
}

@media only screen and (min-width: 767px) and (max-width: 959px) {
	.columns1 {
		width:724px!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}
	.columns1 .portfolio_preview_head {
		padding-left:16px!important;
	}
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 4px;
		width:744px;
		margin-left:-20px!important;
	}
	.columns2 .element {
		width:352px!important; 
		min-height:210px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.columns2 .element img {
		display:block;
	}	
	.columns3 .element {
		width:228px!important; 
		min-height:136px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.columns4 .element {
		width:166px!important; 
		min-height:99px!important;
		float:left;
		margin-left:20px;
		margin-bottom:20px;		
		display:inline-block;
	}
	.portfolio_btns,
	.portfolio_text {display:none;
	}
	.shaped_portfolio .columns2 .element {min-height:352px!important;
	}
	.shaped_portfolio .columns3 .element {min-height:228px!important;
	}
	.shaped_portfolio .columns4 .element {min-height:166px!important;
	}
	
	.left-sidebar .columns1,
	.right-sidebar .columns1 {
		width:538px!important;
	}
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:558px!important;
	}
	
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element {
		width:259px!important;
		min-height:154px !important;
	} 
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element {
		width:166px!important;
		min-height:99px !important;
	}
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:119px!important;
		min-height:71px !important;
	}	
	
	.left-sidebar .shaped_portfolio .columns2 .element,
	.right-sidebar .shaped_portfolio .columns2 .element {min-height:259px !important;
	} 
	.left-sidebar .shaped_portfolio .columns3 .element,
	.right-sidebar .shaped_portfolio .columns3 .element {min-height:166px !important;
	}
	.left-sidebar .shaped_portfolio .columns4 .element,
	.right-sidebar .shaped_portfolio .columns4 .element {min-height:119px !important;
	}
		
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	/*Widths*/
	.columns1,
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 0px!important;
		width:420px!important;
	}
	.columns2 .element,
	.columns3 .element,
	.columns4 .element {
		width:420px!important; 
		margin:0 0 20px 0px!important;
		min-height:251px!important;
		display:inline-block!important;
	}
	
	.shaped_portfolio .columns2 .element,
	.shaped_portfolio .columns3 .element,
	.shaped_portfolio .columns4 .element {min-height:420px!important;
	}
	
	.simple_portfolio .columns4 .portfolio_text {padding-bottom:30px;
	}
	.columns1 .element img,
	.columns2 .element img,
	.columns3 .element img,
	.columns4 .element img {
		display:block!important;
	}
	.filter_navigation { overflow:hidden!important;
	}
	.columns1 .filter_img {
		float:none!important;
		width:420px!important;
		margin-bottom:15px!important;
	}
	.columns1 .portfolio_dscr {
		float:none!important;
		width:420px!important;
		margin:0px!important;
	}
	.columns2 .element .portfolio_content p,
	.columns3 .element .portfolio_content p,
	.columns4 .element .portfolio_content p,
	.columns2 .element .portfolio_content h5,
	.columns3 .element .portfolio_content h5,
	.columns4 .element .portfolio_content h5 {	
		display:none!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1,
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:420px!important;	
	}
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element,
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element,
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:420px!important;
	}		
	
	.left-sidebar .shaped_portfolio .columns1,
	.right-sidebar .shaped_portfolio .columns1,
	.left-sidebar .shaped_portfolio .columns2,
	.right-sidebar .shaped_portfolio .columns2, 
	.left-sidebar .shaped_portfolio .columns3,
	.right-sidebar .shaped_portfolio .columns3,
	.left-sidebar .shaped_portfolio .columns4,
	.right-sidebar .shaped_portfolio .columns4 {
		width:420px!important;
		min-height:420px!important;	
	}
	.left-sidebar .shaped_portfolio .columns2 .element,
	.right-sidebar .shaped_portfolio .columns2 .element,
	.left-sidebar .shaped_portfolio .columns3 .element,
	.right-sidebar .shaped_portfolio .columns3 .element,
	.left-sidebar .shaped_portfolio .columns4 .element,
	.right-sidebar .shaped_portfolio .columns4 .element {
		width:420px!important;
		min-height:420px!important;
	}	
	
	.pf_video_container iframe {
		height:220px!important;
	}

	.promo_text_block h1,
	.promo_text_block h4,
	.promo_button_block {
		text-align:center!important;
	}
	.promo_button_block .shortcode_button {
		margin:0 auto!important;
		float:none!important;
	}	
	header ul.sub-menu li ul.sub-menu {
		margin:0!important;
		padding:0!important;
	}	
}
@media only screen and (max-width: 459px) {
	/*Widths*/
	.columns1,
	.columns2,
	.columns3,
	.columns4 {
		margin:0 0 0 0px!important;
		width:300px!important;
	}
	.columns1 .element { 
		margin:0 0 20px 0!important;
	}
	.columns1 .element,
	.columns2 .element,
	.columns3 .element,
	.columns4 .element {
		width:300px!important;
		margin:0 0 20px 0px!important;
		min-height:179px!important;
		float:none!important;
		display:block!important;
	}
	
	.shaped_portfolio .columns2 .element,
	.shaped_portfolio .columns3 .element,
	.shaped_portfolio .columns4 .element {min-height:300px!important;
	}
	
	.simple_portfolio .columns4 .portfolio_text {padding-bottom:30px;
	}
	.columns1 .element img,
	.columns2 .element img,
	.columns3 .element img,
	.columns4 .element img {
		display:block;
	}
	.columns2 .element .portfolio_content p,
	.columns3 .element .portfolio_content p,
	.columns4 .element .portfolio_content p,
	.columns2 .element .portfolio_content h5,
	.columns3 .element .portfolio_content h5,
	.columns4 .element .portfolio_content h5 {	
		display:none!important;
	}
	.filter_navigation { 
		overflow:hidden
	}	
	.columns1 .filter_img {
		float:none!important;
		width:300px!important;
		margin-bottom:15px!important;
	}
	.columns1 .portfolio_dscr {
		float:none!important;
		width:300px!important;
		margin:0px!important;
	}
	.columns1 .portfolio_dscr {
		padding:0!important;	
	}

	.left-sidebar .columns1,
	.right-sidebar .columns1,
	.left-sidebar .columns2,
	.right-sidebar .columns2, 
	.left-sidebar .columns3,
	.right-sidebar .columns3,
	.left-sidebar .columns4,
	.right-sidebar .columns4 {
		width:300px!important;	
	}
	.left-sidebar .columns2 .element,
	.right-sidebar .columns2 .element,
	.left-sidebar .columns3 .element,
	.right-sidebar .columns3 .element,
	.left-sidebar .columns4 .element,
	.right-sidebar .columns4 .element {
		width:300px!important;
	}
	
	.left-sidebar .shaped_portfolio .columns1,
	.right-sidebar .shaped_portfolio .columns1,
	.left-sidebar .shaped_portfolio .columns2,
	.right-sidebar .shaped_portfolio .columns2, 
	.left-sidebar .shaped_portfolio .columns3,
	.right-sidebar .shaped_portfolio .columns3,
	.left-sidebar .shaped_portfolio .columns4,
	.right-sidebar .shaped_portfolio .columns4 {
		width:300px!important;
		min-height:300px!important;	
	}
	.left-sidebar .shaped_portfolio .columns2 .element,
	.right-sidebar .shaped_portfolio .columns2 .element,
	.left-sidebar .shaped_portfolio .columns3 .element,
	.right-sidebar .shaped_portfolio .columns3 .element,
	.left-sidebar .shaped_portfolio .columns4 .element,
	.right-sidebar .shaped_portfolio .columns4 .element {
		width:300px!important;
		min-height:300px!important;
	}	

	.pf_video_container iframe {
		height:160px!important;
	}
	
	.promo_text_block h1,
	.promo_text_block h4,
	.promo_button_block {
		text-align:center!important;
	}
	.promo_button_block .shortcode_button {
		margin:0 auto!important;
		float:none!important;
	}	
	
	header ul.sub-menu li ul.sub-menu {
		margin:0!important;
		padding:0!important;
	}
}

/*-- Carousel --*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	.span12 .carouselslider {
		width:940px;
	}
	.span6 .carouselslider {
		width:458px;
	}
	.span4 .carouselslider {
		width:298px;
	}
	.span3 .carouselslider {
		width:220px;
	}
	.span8 .carouselslider {
		width:618px;
	}
	.span9 .carouselslider {
		width:700px;
	}
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider {
		width:700px;
	}
	.left-sidebar .posts-block .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider {
		width:341px;
	}
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider {
		width:221px;
	}
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider {
		width:161px;
	}
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider {
		width:460px;
	}
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider {
		width:520px;
	}
	
	.span12 .items5 li { 
		width:172px;
	}
	.span12 .items4 li { 
		width:220px;
	}
	.span12 .items3 li { 
		width:300px;
	}
	.span12 .items2 li { 
		width:460px;
	}
	.span12 .items1 li { 
		width:940px;
	}
	
	.span6 .items5 li { 
		width:75px;
	}
	.span6 .items4 li { 
		width:99px;
	}
	.span6 .items3 li { 
		width:139px;
	}
	.span6 .items2 li { 
		width:219px;
	}
	.span6 .items1 li { 
		width:458px;
	}
	
	.span4 .items5 li { 
		width:43px;
	}
	.span4 .items4 li { 
		width:59px;
	}
	.span4 .items3 li { 
		width:86px;
	}
	.span4 .items2 li { 
		width:139px;
	}
	.span4 .items1 li { 
		width:298px;
	}
	
	.span3 .items5 li { 
		width:28px;
	}
	.span3 .items4 li { 
		width:40px;
	}
	.span3 .items3 li { 
		width:60px;
	}
	.span3 .items2 li { 
		width:100px;
	}
	.span3 .items1 li { 
		width:220px;
	}
	
	.span8 .items5 li { 
		width:107px;
	}
	.span8 .items4 li { 
		width:139px;
	}
	.span8 .items3 li { 
		width:192px;
	}
	.span8 .items2 li { 
		width:299px;
	}
	.span8 .items1 li { 
		width:618px;
	}
	
	.span9 .items5 li { 
		width:124px;
	}
	.span9 .items4 li { 
		width:160px;
	}
	.span9 .items3 li { 
		width:220px;
	}
	.span9 .items2 li { 
		width:340px;
	}
	.span9 .items1 li { 
		width:700px;
	}
	
	/* items size with sidebar*/
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li { 
		width:124px;
	}
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li { 
		width:220px;
	}
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li { 
		width:340px;
	}
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li { 
		width:700px;
	}
	
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li { 
		width:52px;
	}
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li { 
		width:70px;
	}
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li { 
		width:341px;
	}
	
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li { 
		width:28px;
	}
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li { 
		width:40px;
	}
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li { 
		width:60px;
	}
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li { 
		width:221px;
	}
	
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li { 
		width:16px;
	}
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li { 
		width:25px;
	}
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li { 
		width:40px;
	}
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li { 
		width:70px;
	}
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li { 
		width:161px;
	}
	
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li { 
		width:76px;
	}
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li { 
		width:100px;
	}
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li { 
		width:140px;
	}
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li { 
		width:220px;
	}
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li { 
		width:460px;
	}
	
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li { 
		width:88px;
	}
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li { 
		width:115px;
	}
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li { 
		width:160px;
	}
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li { 
		width:250px;
	}
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:520px;
	}	
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
	
	.span12 .carouselslider {
		width:724px!important;
	}
	.span6 .carouselslider {
		width:352px!important;
	}
	.span4 .carouselslider {
		width:228px!important;
	}
	.span3 .carouselslider {
		width:166px!important;
	}
	.span8 .carouselslider {
		width:476px!important;
	}
	.span9 .carouselslider {
		width:538px!important;
	}
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider {
		width:538px!important;
	}
	.left-sidebar .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider {
		width:424px!important;
	}
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider {
		width:169px!important;
	}
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider {
		width:123px!important;
	}
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider {
		width:354px!important;
	}
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider {
		width:400px!important;
	}
	
	.span12 .items6 li { 
		width:104px!important;
	}
	.span12 .items5 li { 
		width:128px!important;
	}
	.span12 .items4 li { 
		width:166px!important;
	}
	.span12 .items3 li { 
		width:228px!important;
	}
	.span12 .items2 li { 
		width:352px!important;
	}
	.span12 .items1 li { 
		width:724px!important;
	}
	
	.span6 .items6 li { 
		width:42px!important;
	}
	.span6 .items5 li { 
		width:54px!important;
	}
	.span6 .items4 li { 
		width:73px!important;
	}
	.span6 .items3 li { 
		width:104px!important;
	}
	.span6 .items2 li { 
		width:166px!important;
	}
	.span6 .items1 li { 
		width:352px!important;
	}

	.span4 .items6 li { 
		width:21px!important;
	}	
	.span4 .items5 li { 
		width:29px!important;
	}
	.span4 .items4 li { 
		width:42px!important;
	}
	.span4 .items3 li { 
		width:62px!important;
	}
	.span4 .items2 li { 
		width:104px!important;
	}
	.span4 .items1 li { 
		width:228px!important;
	}

	.span3 .items6 li { 
		width:11px!important;
	}	
	.span3 .items5 li { 
		width:17px!important;
	}
	.span3 .items4 li { 
		width:26px!important;
	}
	.span3 .items3 li { 
		width:42px!important;
	}
	.span3 .items2 li { 
		width:73px!important;
	}
	.span3 .items1 li { 
		width:166px!important;
	}

	.span8 .items6 li { 
		width:62px!important;
	}	
	.span8 .items5 li { 
		width:79px!important;
	}
	.span8 .items4 li { 
		width:104px!important;
	}
	.span8 .items3 li { 
		width:145px!important;
	}
	.span8 .items2 li { 
		width:228px!important;
	}
	.span8 .items1 li { 
		width:476px!important;
	}
	
	.span9 .items6 li { 
		width:73px!important;
	}	
	.span9 .items5 li { 
		width:91px!important;
	}
	.span9 .items4 li { 
		width:119px!important;
	}
	.span9 .items3 li { 
		width:166px!important;
	}
	.span9 .items2 li { 
		width:259px!important;
	}
	.span9 .items1 li { 
		width:538px!important;
	}
	
	/* items size with sidebar*/
	.left-sidebar .posts-block .span12 .items6 li,
	.right-sidebar .posts-block .span12 .items6 li { 
		width:78px!important;
	}
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li { 
		width:96px!important;
	}
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li { 
		width:124px!important;
	}
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li { 
		width:170px!important;
	}
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li { 
		width:262px!important;
	}
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li { 
		width:538px!important;
	}
	
	.left-sidebar .posts-block .span6 .items6 li,
	.right-sidebar .posts-block .span6 .items6 li { 
		width:59px!important;
	}
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li { 
		width:73px!important;
	}
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li { 
		width:95px!important;
	}
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li { 
		width:132px!important;
	}
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li { 
		width:205px!important;
	}
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li { 
		width:424px!important;
	}
	
	.left-sidebar .posts-block .span4 .items6 li,
	.right-sidebar .posts-block .span4 .items6 li { 
		width:16px!important;
	}
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li { 
		width:22px!important;
	}
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li { 
		width:31px!important;
	}
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li { 
		width:47px!important;
	}
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li { 
		width:77px!important;
	}
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li { 
		width:169px!important;
	}
	
	.left-sidebar .posts-block .span3 .items6 li,
	.right-sidebar .posts-block .span3 .items6 li { 
		width:8px!important;
	}
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li { 
		width:13px!important;
	}
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li { 
		width:20px!important;
	}
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li { 
		width:31px!important;
	}
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li { 
		width:54px!important;
	}
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li { 
		width:123px!important;
	}	
	
	.left-sidebar .posts-block .span8 .items6 li,
	.right-sidebar .posts-block .span8 .items6 li { 
		width:47px!important;
	}
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li { 
		width:59px!important;
	}
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li { 
		width:78px!important;
	}
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li { 
		width:108px!important;
	}
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li { 
		width:170px!important;
	}
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li { 
		width:354px!important;
	}
	
	.left-sidebar .posts-block .span9 .items6 li,
	.right-sidebar .posts-block .span9 .items6 li { 
		width:55px!important;
	}
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li { 
		width:68px!important;
	}
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li { 
		width:89px!important;
	}
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li { 
		width:124px!important;
	}
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li { 
		width:193px!important;
	}
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:400px!important;
	}	
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	
	.span12 .carouselslider,
	.span6 .carouselslider,
	.span4 .carouselslider,
	.span3 .carouselslider,
	.span8 .carouselslider,
	.span9 .carouselslider,
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider,
	.left-sidebar .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider,
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider,
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider,
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider,
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider,
	.span12 .items6 li,
	.span12 .items5 li,
	.span12 .items4 li,
	.span12 .items3 li,
	.span12 .items2 li,
	.span12 .items1 li,	
	.span6 .items6 li,
	.span6 .items5 li,
	.span6 .items4 li,
	.span6 .items3 li,
	.span6 .items2 li,
	.span6 .items1 li,
	.span4 .items6 li,
	.span4 .items5 li,
	.span4 .items4 li,
	.span4 .items3 li,
	.span4 .items2 li,
	.span4 .items1 li,
	.span4 .items6 li,	
	.span4 .items5 li,
	.span3 .items4 li,
	.span3 .items3 li,
	.span3 .items2 li,
	.span3 .items1 li,	
	.span8 .items6 li,
	.span8 .items5 li,
	.span8 .items4 li,
	.span8 .items3 li,
	.span8 .items2 li,
	.span8 .items1 li,
	.span8 .items6 li,	
	.span9 .items5 li,
	.span9 .items4 li,
	.span9 .items3 li,
	.span9 .items2 li,
	.span9 .items1 li,
	.left-sidebar .posts-block .span12 .items6 li,
	.right-sidebar .posts-block .span12 .items6 li,
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li,
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li,
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li,
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li,
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li,	
	.left-sidebar .posts-block .span6 .items6 li,
	.right-sidebar .posts-block .span6 .items6 li,
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li,
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li,
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li,
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li,
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li,	
	.left-sidebar .posts-block .span4 .items6 li,
	.right-sidebar .posts-block .span4 .items6 li,
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li,
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li,
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li,
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li,
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li,	
	.left-sidebar .posts-block .span3 .items6 li,
	.right-sidebar .posts-block .span3 .items6 li,
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li,
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li,
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li,
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li,
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li,	
	.left-sidebar .posts-block .span8 .items6 li,
	.right-sidebar .posts-block .span8 .items6 li,
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li,
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li,
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li,
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li,
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li,	
	.left-sidebar .posts-block .span9 .items6 li,
	.right-sidebar .posts-block .span9 .items6 li,
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li,
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li,
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li,
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li,
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:420px!important;
	}		
}
@media only screen and (max-width: 459px) {
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
	
	.span12 .carouselslider,
	.span6 .carouselslider,
	.span4 .carouselslider,
	.span3 .carouselslider,
	.span8 .carouselslider,
	.span9 .carouselslider,
	.left-sidebar .posts-block .span12 .carouselslider,
	.right-sidebar .posts-block .span12 .carouselslider,
	.left-sidebar .posts-block .span6 .carouselslider,
	.right-sidebar .posts-block .span6 .carouselslider,
	.left-sidebar .posts-block .span4 .carouselslider,
	.right-sidebar .posts-block .span4 .carouselslider,
	.left-sidebar .posts-block .span3 .carouselslider,
	.right-sidebar .posts-block .span3 .carouselslider,
	.left-sidebar .posts-block .span8 .carouselslider,
	.right-sidebar .posts-block .span8 .carouselslider,
	.left-sidebar .posts-block .span9 .carouselslider,
	.right-sidebar .posts-block .span9 .carouselslider,
	.span12 .items6 li,
	.span12 .items5 li,
	.span12 .items4 li,
	.span12 .items3 li,
	.span12 .items2 li,
	.span12 .items1 li,	
	.span6 .items6 li,
	.span6 .items5 li,
	.span6 .items4 li,
	.span6 .items3 li,
	.span6 .items2 li,
	.span6 .items1 li,
	.span4 .items6 li,
	.span4 .items5 li,
	.span4 .items4 li,
	.span4 .items3 li,
	.span4 .items2 li,
	.span4 .items1 li,
	.span4 .items6 li,	
	.span4 .items5 li,
	.span3 .items4 li,
	.span3 .items3 li,
	.span3 .items2 li,
	.span3 .items1 li,	
	.span8 .items6 li,
	.span8 .items5 li,
	.span8 .items4 li,
	.span8 .items3 li,
	.span8 .items2 li,
	.span8 .items1 li,
	.span8 .items6 li,	
	.span9 .items5 li,
	.span9 .items4 li,
	.span9 .items3 li,
	.span9 .items2 li,
	.span9 .items1 li,
	.left-sidebar .posts-block .span12 .items6 li,
	.right-sidebar .posts-block .span12 .items6 li,
	.left-sidebar .posts-block .span12 .items5 li,
	.right-sidebar .posts-block .span12 .items5 li,
	.left-sidebar .posts-block .span12 .items4 li,
	.right-sidebar .posts-block .span12 .items4 li,
	.left-sidebar .posts-block .span12 .items3 li,
	.right-sidebar .posts-block .span12 .items3 li,
	.left-sidebar .posts-block .span12 .items2 li,
	.right-sidebar .posts-block .span12 .items2 li,
	.left-sidebar .posts-block .span12 .items1 li,
	.right-sidebar .posts-block .span12 .items1 li,	
	.left-sidebar .posts-block .span6 .items6 li,
	.right-sidebar .posts-block .span6 .items6 li,
	.left-sidebar .posts-block .span6 .items5 li,
	.right-sidebar .posts-block .span6 .items5 li,
	.left-sidebar .posts-block .span6 .items4 li,
	.right-sidebar .posts-block .span6 .items4 li,
	.left-sidebar .posts-block .span6 .items3 li,
	.right-sidebar .posts-block .span6 .items3 li,
	.left-sidebar .posts-block .span6 .items2 li,
	.right-sidebar .posts-block .span6 .items2 li,
	.left-sidebar .posts-block .span6 .items1 li,
	.right-sidebar .posts-block .span6 .items1 li,	
	.left-sidebar .posts-block .span4 .items6 li,
	.right-sidebar .posts-block .span4 .items6 li,
	.left-sidebar .posts-block .span4 .items5 li,
	.right-sidebar .posts-block .span4 .items5 li,
	.left-sidebar .posts-block .span4 .items4 li,
	.right-sidebar .posts-block .span4 .items4 li,
	.left-sidebar .posts-block .span4 .items3 li,
	.right-sidebar .posts-block .span4 .items3 li,
	.left-sidebar .posts-block .span4 .items2 li,
	.right-sidebar .posts-block .span4 .items2 li,
	.left-sidebar .posts-block .span4 .items1 li,
	.right-sidebar .posts-block .span4 .items1 li,	
	.left-sidebar .posts-block .span3 .items6 li,
	.right-sidebar .posts-block .span3 .items6 li,
	.left-sidebar .posts-block .span3 .items5 li,
	.right-sidebar .posts-block .span3 .items5 li,
	.left-sidebar .posts-block .span3 .items4 li,
	.right-sidebar .posts-block .span3 .items4 li,
	.left-sidebar .posts-block .span3 .items3 li,
	.right-sidebar .posts-block .span3 .items3 li,
	.left-sidebar .posts-block .span3 .items2 li,
	.right-sidebar .posts-block .span3 .items2 li,
	.left-sidebar .posts-block .span3 .items1 li,
	.right-sidebar .posts-block .span3 .items1 li,	
	.left-sidebar .posts-block .span8 .items6 li,
	.right-sidebar .posts-block .span8 .items6 li,
	.left-sidebar .posts-block .span8 .items5 li,
	.right-sidebar .posts-block .span8 .items5 li,
	.left-sidebar .posts-block .span8 .items4 li,
	.right-sidebar .posts-block .span8 .items4 li,
	.left-sidebar .posts-block .span8 .items3 li,
	.right-sidebar .posts-block .span8 .items3 li,
	.left-sidebar .posts-block .span8 .items2 li,
	.right-sidebar .posts-block .span8 .items2 li,
	.left-sidebar .posts-block .span8 .items1 li,
	.right-sidebar .posts-block .span8 .items1 li,	
	.left-sidebar .posts-block .span9 .items6 li,
	.right-sidebar .posts-block .span9 .items6 li,
	.left-sidebar .posts-block .span9 .items5 li,
	.right-sidebar .posts-block .span9 .items5 li,
	.left-sidebar .posts-block .span9 .items4 li,
	.right-sidebar .posts-block .span9 .items4 li,
	.left-sidebar .posts-block .span9 .items3 li,
	.right-sidebar .posts-block .span9 .items3 li,
	.left-sidebar .posts-block .span9 .items2 li,
	.right-sidebar .posts-block .span9 .items2 li,
	.left-sidebar .posts-block .span9 .items1 li,
	.right-sidebar .posts-block .span9 .items1 li { 
		width:300px!important;
	}	
}

@media only screen and (min-width: 960px) {
	.mobile_menu_wrapper {display:none !important;
	}
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
	.mobile_menu_wrapper {
		width:724px;
		margin:0 auto;
	}
}
@media only screen and (max-width: 959px) {
	
	.header_block nav {display:none;
	}
	.mobile_menu_wrapper {
		display:block;
		padding-top:25px;
	}
	.content_wrapper .container {padding-top:25px;
	}
	.mobile_menu {
		position:static;
		padding:0 0 30px 0!important;
		width:auto!important;
		display:block!important;
		overflow:hidden;
	}
	.mobile_menu li {
		position:relative;
		border:0;
	}
	.mobile_menu > li > ul.sub-menu li a {
		padding-left:45px!important;
	}
	.mobile_menu > li > ul.sub-menu li ul.sub-menu li a {
		padding-left:65px!important;
	}
	.mobile_menu li a {
		padding:10px 25px;
		line-height:20px;
		font-size:12px;
		color:#7d7d7d;
		display:block;
		transition: all 300ms; 
		-webkit-transition: all 300ms; 
		-moz-transition: all 300ms; 
		-o-transition: all 300ms;		
		border-top:#363636 1px solid;
		text-transform:uppercase;
	}
	.mobile_menu li a:hover {background:#2a2a2a;
	}
	
	.mobile_menu li a span { display:none!important;
	}
	a.menu_toggler {
		width:30px;
		height:30px;
		display:block;
		position:absolute;
		overflow:hidden;
		right:20px;
		top:32px;
	    background-image:url(../img/menu_toggler.png);
		background-position:0 0;
		background-repeat:no-repeat;
	}
	a.menu_toggler:hover {opacity:0.8;
	}

	.mobile_menu li ul.sub-menu {
		display:block!important;
		visibility:visible!important;
		position:static!important;
		width:100%!important;
	}
	.mobile_menu .current-menu-parent a {background:#2a2a2a;
	}
	.mobile_menu li ul.sub-menu li {
		border:0 !important;
	}
	.mobile_menu li ul.sub-menu li a {font-size:12px;
	}
	.mobile_menu > li {
		width:100%!important;
	}
}

/*-- Carousel --*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}	

	.left-sidebar .margin-fixer,
	.right-sidebar .margin-fixer {
		margin-left:-14px!important;
	}
	.left-sidebar .carouselslider ul li,
	.right-sidebar .carouselslider ul li {
		padding:0 0 0 14px!important;
	}	
}

@media only screen and (min-width: 459px) and (max-width: 766px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
}
@media only screen and (max-width: 459px) {
	.margin-fixer {
		margin-left:-20px!important;
		height:auto!important;
	}
	.carouselslider ul li {
		padding:0 0 0 20px!important;
	}
}


